body {
  font-family: 'Oswald', sans-serif;
  background: #EEEDED;
}

a{
  color: green;
}

a:hover{
  color: green;
}

.navbar-brand img{
  margin-top:-5px;
}

.navbar-brand *{
  color:white;
}

.jumbotron{
  height: 200px;
  overflow:hidden;
}

.jumbotron #details{
  position:absolute;
  color:white;
}

.jumbotron #details span{
  color:green;
}

.jumbotron img{
  width:100%;
}

section .widgets{
  margin-bottom: 20px;
}

.popular{
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #E3E3E3;
}

.popular .details{
  margin-left: -20px;
}

.popular .details p{
  font-family: arial;
  font-size: 11px;
}

.popular img{
  width: 100%;
  margin-top: 12px;
}

.popular .row ul li{
  list-style: none;
}

.categories{
  background: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #E3E3E3;
}

.categories .row a img{
  height: 45px;
  width: 45px;
}

.carousel-inner img{
  height: 55000px;
  width: 1000px;
}

.post {
  background: white;
  border: 1px solid #E3E3E3;
  margin: 15px 0px;
}

.post .post-date{
  padding: 20px;
  text-align: center;
}

.post .post-date .day{
  font-size: 30px;
  color: #24A7CF;
}

.post .post-date .year{
  font-weight: 100;
}

.post .post-title{
  padding: 5px 20px 25px 20px;
  border-left: 1px solid #E3E3E3;
}

.post .post-title span{
  color: #24A7CF;
  font-weight: 100;
  margin-left:10px;
}

.post .profile-picture{
  padding: 20px;
}

.post .profile-picture img{
  width: 80%;
}

.post > a > img{
  width: 100%;
}

.post .desc{
  font-family: arial;
  font-weight: 100;
  padding: 15px;
  line-height: 20px;
}

.post > a.btn{
  margin-left: 15px;
  margin-bottom: 20px;
}

.post .bottom{
  padding: 10px 20px;
  border-top: 1px solid #E3E3E3;

}

.post .bottom i{
  color: #C6C6C6;
}

.post .bottom .first{
  margin-right: 20px;
}

.post .bottom .sec{
  margin-left: 20px;
}

nav#pagination{
  text-align: center;
}

.pagination > li > a{
  color: #24A7CF;
  padding: 15px 25px;
  font-size: 8px;
}

footer {
  background: black;
  height: 50px;
  line-height: 50px;
  color: white;
  letter-spacing: 1px;
}

.contact-form{
  background: white;
  padding: 50px 25px;
}

.contact-form h2{
  color: #24A7CF;
}

.contact-form textarea{
  resize: none;
}

.related-posts{
  background: white;
  padding: 10px 20px;
  margin-bottom: 15px;
}

.related-posts img{
  width: 100%;
}

.related-posts h3{
  color: #24A7CF;
}

.author{
  background: white;
  padding: 20px;
  margin-bottom: 15px;
}

.author img{
  width: 100%;
}

.author h4{
  color: #24A7CF;
  text-decoration: underline;
}

.author p{
  font-weight: 100;
}

.comment{
  background: white;
  padding: 20px;
  margin-bottom: 15px;
}

.comment h3{
  color: #24A7CF;
}

.comment h4{
  color: #24A7CF;
}

.comment img{
  width: 50%;
}

.comment p{
  font-weight: 100;
}

.comment .single-comment{
  margin-bottom: 10px;
}

.comment-box{
  background: white;
  padding: 20px;
  margin-bottom: 15px;
}

.comment-box textarea{
  resize: none;
}

@media (max-width: 786px){
  body{
    background: red;
  }

  .post .profile-picture{
    text-align: center;
    margin-top: -40px;
  }

  .post .post-title{
    text-align: center;
    border: none;
  }

  .post .profile-picture img{
    width: 20%;
  }

  .author{
    background: white;
    padding: 20px;
    margin-bottom: 15px;
    text-align: center;
  }

  .author img{
    width: 30%;
  }

  .author h4{
    color: #24A7CF;
    text-decoration: underline;
  }

  .author p{
    font-weight: 100;
  }

  .comment{
    background: white;
    padding: 20px;
    margin-bottom: 15px;
  }

  .comment h3{
    color: #24A7CF;
  }

  .comment h4{
    color: #24A7CF;
  }

  .comment img{
    width: 30%;
  }

  .comment p{
    font-weight: 100;
  }

  .comment .single-comment{
    margin-bottom: 10px;
    text-align: center;
  }

}

@media (max-width: 786px){


  .jumbotron #details{
    margin-top: 20px;
  }

  .post .post-title{
    margin-top: -30px;
    text-align: center;
    border: none;
  }

  .post .profile-picture{
    text-align: center;
  }

  .post .profile-picture img{
    width: 20%;
  }
  .pagination > li > a{
    font-size: 13px;
    padding: 10px 12px;
  }

  footer{
    font-size: 9px;
    letter-spacing: 0px;
  }

  .navbar-inverse .navbar-nav > li > a{
    text-align: center;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
    text-align:center;
  }

}
